.footer-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-block: 2rem;
}

.title-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: rgba(130, 130, 130, 1);
}

.bold-underline {
    font-weight: 700;
    text-decoration: underline;
    color: rgba(130, 130, 130, 1);
}